a {
  color: firebrick;
}

body {
  background-color:papayawhip;
  height:100%;
}

#kush {
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
}

li {
  display: inline;
}

li a {
  padding: 20px;
  color:white;
}

p a {
  color:white;
}

button a {
  color:white;
}


#footer1 li {
  padding: 10px;
  font-size: 10px;
}

.itson {
  background-color: white;
  height:auto;
}


.w-33 {
    min-width: 33%;
}


.w-32 {
    max-width: 85%;
}
.img {
    max-height: 55%;
}

.slide-wrapper{display:inline;}
.slide-wrapper .container{padding:0;}

.loop {
animation-iteration-count:infinite !important;

}

.slow{
animation-duration:2000ms;
cubic-bezier:(.32,-0.07,.73,.64);

}


#nav{
margin:0!important;
}

#container{
height: 1500px! important;
}


#footer1 {
color:black;
}
